.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  margin-bottom: 12px;
  transition: 0.3s ease;
}

.btn-ghost:hover {
  filter: blur(1px);
  color: white;
  border: 1px solid white;
}
